asgiref==3.2.10
aws==0.2.5
bcrypt==3.1.7
boto==2.49.0
boto3==1.14.39
botocore==1.17.39
cffi==1.14.1
click==7.1.2
cryptography==3.0
Django==3.1
docutils==0.15.2
fabric==2.5.0
Flask==1.1.2
gunicorn==20.0.4
image==1.5.32
invoke==1.4.1
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
MarkupSafe==1.1.1
paramiko==2.7.1
Pillow==7.2.0
prettytable==0.7.2
pycparser==2.20
PyNaCl==1.4.0
python-dateutil==2.8.1
pytz==2020.1
qrcode==6.1
s3transfer==0.3.3
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
Werkzeug==1.0.1
